.main {
  flex-basis: 55%;
  border-left: 1px solid rgb(218, 218, 218);
  border-right: 1px solid rgb(218, 218, 218);
  height: 100vh;
  overflow-y: scroll;
}

.title {
  border-bottom: 1px solid rgb(218, 218, 218);;
  padding:1rem;
  font-size: 0.8rem;
}



@media(max-width:700px){
 .main{
  width:100%;
  flex-basis: 100%;
  font-size: 90%;

 }

 .flex{
  flex: none;
  margin-left: 0px;
 }

 }